<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        {{ include('navbar.html.twig') }}

        {% if user is not null %}
            {% if user.role.name == "admin" %}
                {% if bookings|length == 0 %}
                    <h2 style="margin-top: 50px;text-align: center">Пока что нет заявок на бронирование</h2>
                {% else %}
                    <h2 style="margin-top: 50px;text-align: center">Заявки на бронирования</h2>
                    <table style="margin-top: 100px" class="table table-bordered table-hover table-warning">
                        <tr>
                            <th>#</th>
                            <th>Никнейм пользователя</th>
                            <th>Комната</th>
                            <th>Услуга</th>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Сумма</th>
                            <th>Название компьютера</th>
                            <th>Статус бронирования</th>
                            <th>Доступные действия</th>
                        </tr>
                        {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.id }}</td>
                                <td>{{ booking.user.username }}</td>
                                <td>{{ booking.room.name }}</td>
                                <td>{{ booking.service.name }}</td>
                                <td>{{ booking.requestDate }}</td>
                                <td>{{ booking.requestTime }}</td>
                                <td>{{ booking.service.price.amount }} бел. рублей</td>
                                <td>{{ booking.computer.number }}</td>
                                <td>{{ booking.status }}</td>
                                <td>
                                    {% if booking.status == "ожидается ответ" %}
                                        <form method="POST" action="http://localhost:8000/booking-approve">
                                            <input type="hidden" value="{{ booking.id }}" name="booking_id">
                                            <input type="submit" class="btn btn-primary" value="Подтвердить">
                                        </form>
                                        <form method="POST" action="http://localhost:8000/booking-decline">
                                            <input type="hidden" value="{{ booking.id }}" name="booking_id">
                                            <input type="submit" class="btn btn-danger" value="Отказать">
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% else %}
                {% if bookings|length == 0 %}
                    <h2 style="margin-top: 50px;text-align: center">Вы ещё не оставляли заявку на бронирование</h2>
                {% else %}
                    <h2 style="margin-top: 50px;text-align: center">Ваши бронирования</h2>
                    <table style="margin-top: 100px" class="table table-bordered table-hover table-secondary">
                        <tr>
                            <th>#</th>
                            <th>Комната</th>
                            <th>Услуга</th>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Сумма</th>
                            <th>Название компьютера</th>
                            <th>Статус бронирования</th>
                        </tr>
                        {% for booking in bookings %}
                            <tr>
                                <td>{{ booking.id }}</td>
                                <td>{{ booking.room.name }}</td>
                                <td>{{ booking.service.name }}</td>
                                <td>{{ booking.requestDate }}</td>
                                <td>{{ booking.requestTime }}</td>
                                <td>{{ booking.service.price.amount }} бел. рублей</td>
                                <td>{{ booking.computer.number }}</td>
                                <td>{{ booking.status }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endif %}
        {% else %}
            <h2 style="margin-top: 50px; text-align: center">Войдите чтобы просмотреть свои бронирования</h2>
        {% endif %}
    </body>
</html>